In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

### Intro
- Explora y carga ambos conjuntos de datos en pandas DataFrames.
- Identifica las columnas comunes entre los dos conjuntos de datos.
- Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.
- Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.
- Porque son los mismos paises con información complementaria

In [4]:
df1= pd.read_csv("world-data-2023_part1.csv",index_col=0)
df1.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

In [5]:
df2=pd.read_csv("world-data-2023_part2.csv",index_col=0)
df2.head(2)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [6]:
print ("Dimensión Parte1", df1.shape)
print ("Dimensión Parte2", df2.shape)

Dimensión Parte1 (195, 16)
Dimensión Parte2 (195, 19)

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                195 non-null    object
 1   Density
(P/Km2)        195 non-null    object
 2   Abbreviation           188 non-null    object
 3   Agricultural Land( %)  188 non-null    object
 4   Land Area(Km2)         194 non-null    object
 5   Armed Forces size      171 non-null    object
 6   Birth Rate             189 non-null    float64
 7   Calling Code           194 non-null    float64
 8   Capital/Major City     192 non-null    object
 9   Co2-Emissions          188 non-null    object
 10  CPI                    178 non-null    object
 11  CPI Change (%)         179 non-null    object
 12  Currency-Code          180 non-null    object
 13  Fertility Rate         188 non-null    float64
 14  Forested Area (%)      188 non-null    object
 15  Gasoline Price         175 non-null    object
dtypes: float64(3), object(13)
memory usage: 25.9+ KB

In [42]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 19 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   GDP                                        193 non-null    object
 1   Gross primary education enrollment (%)     188 non-null    object
 2   Gross tertiary education enrollment (%)    183 non-null    object
 3   Infant mortality                           189 non-null    float64
 4   Largest city                               189 non-null    object
 5   Life expectancy                            187 non-null    float64
 6   Maternal mortality ratio                   181 non-null    float64
 7   Minimum wage                               150 non-null    object
 8   Official language                          190 non-null    object
 9   Out of pocket health expenditure           188 non-null    object
 10  Physicians per thousand                    188 non-null    float64
 11  Population                                 194 non-null    object
 12  Population: Labor force participation (%)  176 non-null    object
 13  Tax revenue (%)                            169 non-null    object
 14  Total tax rate                             183 non-null    object
 15  Unemployment rate                          176 non-null    object
 16  Urban_population                           190 non-null    object
 17  country                                    195 non-null    object
 18  coordinates                                195 non-null    object
dtypes: float64(4), object(15)
memory usage: 30.5+ KB

In [17]:
#Vamos a utilizar el método "merge" para unir ambos ficheros porque ambos archivos son complementarios en cuanto a diferentes métricas relacionadas con países
df_merge = df1.merge(df2,left_on= "Country", right_on= "country")

In [18]:
df_merge.head(5).T

,0,1,2,3,4
Country,Afghanistan,Albania,Algeria,Andorra,Angola
Density\n(P/Km2),60,105,18,164,26
Abbreviation,AF,AL,DZ,AD,AO
Agricultural Land( %),58.10%,43.10%,17.40%,40.00%,47.50%
Land Area(Km2),"652,230","28,748","2,381,741",468,"1,246,700"
Armed Forces size,"323,000","9,000","317,000",NaN,"117,000"
Birth Rate,32.49,11.78,24.28,7.2,40.73
Calling Code,93.0,355.0,213.0,376.0,244.0
Capital/Major City,Kabul,Tirana,Algiers,Andorra la Vella,Luanda
Co2-Emissions,"8,672","4,536","150,006",469,"34,693"
CPI,149.9,119.05,151.36,NaN,261.73
CPI Change (%),2.30%,1.40%,2.00%,NaN,17.10%
Currency-Code,AFN,ALL,DZD,EUR,AOA
Fertility Rate,4.47,1.62,3.02,1.27,5.52
Forested Area (%),2.10%,28.10%,0.80%,34.00%,46.30%
Gasoline Price,$0.70,$1.36,$0.28,$1.51,$0.97
GDP,"$19,101,353,833","$15,278,077,447","$169,988,236,398","$3,154,057,987","$94,635,415,870"
Gross primary education enrollment (%),104.00%,107.00%,109.90%,106.40%,113.50%
Gross tertiary education enrollment (%),9.70%,55.00%,51.40%,NaN,9.30%
Infant mortality,47.9,7.8,20.1,2.7,51.6
Largest city,Kabul,Tirana,Algiers,Andorra la Vella,Luanda
Life expectancy,64.5,78.5,76.7,NaN,60.8
Maternal mortality ratio,638.0,15.0,112.0,NaN,241.0
Minimum wage,$0.43,$1.12,$0.95,$6.63,$0.71
Official language,Pashto,Albanian,Arabic,Catalan,Portuguese
Out of pocket health expenditure,78.40%,56.90%,28.10%,36.40%,33.40%
Physicians per thousand,0.28,1.2,1.72,3.33,0.21
Population,"38,041,754","2,854,191","43,053,054","77,142","31,825,295"
Population: Labor force participation (%),48.90%,55.70%,41.20%,NaN,77.50%
Tax revenue (%),9.30%,18.60%,37.20%,NaN,9.20%
Total tax rate,71.40%,36.60%,66.10%,NaN,49.10%
Unemployment rate,11.12%,12.33%,11.70%,NaN,6.89%
Urban_population,"9,797,273","1,747,593","31,510,100","67,873","21,061,025"
country,Afghanistan,Albania,Algeria,Andorra,Angola
coordinates,"('33.93911 ', '67.709953')","('41.153332 ', '20.168331')","('28.033886 ', '1.659626')","('42.506285 ', '1.521801')","('-11.202692 ', '17.873887')"

### Ejercicios de Limpieza
1.  Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.
2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
    2.1. No tengan espacios.
    2.2. Estén en minúscula.
    2.3. No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
    2.4. Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
    2.5. Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.
3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.
4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.
5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".
6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

##### 1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas

In [19]:
df_merge.drop("country", axis=1, inplace= True)

In [20]:
df_merge.head(2).T

,0,1
Country,Afghanistan,Albania
Density\n(P/Km2),60,105
Abbreviation,AF,AL
Agricultural Land( %),58.10%,43.10%
Land Area(Km2),"652,230","28,748"
Armed Forces size,"323,000","9,000"
Birth Rate,32.49,11.78
Calling Code,93.0,355.0
Capital/Major City,Kabul,Tirana
Co2-Emissions,"8,672","4,536"
CPI,149.9,119.05
CPI Change (%),2.30%,1.40%
Currency-Code,AFN,ALL
Fertility Rate,4.47,1.62
Forested Area (%),2.10%,28.10%
Gasoline Price,$0.70,$1.36
GDP,"$19,101,353,833","$15,278,077,447"
Gross primary education enrollment (%),104.00%,107.00%
Gross tertiary education enrollment (%),9.70%,55.00%
Infant mortality,47.9,7.8
Largest city,Kabul,Tirana
Life expectancy,64.5,78.5
Maternal mortality ratio,638.0,15.0
Minimum wage,$0.43,$1.12
Official language,Pashto,Albanian
Out of pocket health expenditure,78.40%,56.90%
Physicians per thousand,0.28,1.2
Population,"38,041,754","2,854,191"
Population: Labor force participation (%),48.90%,55.70%
Tax revenue (%),9.30%,18.60%
Total tax rate,71.40%,36.60%
Unemployment rate,11.12%,12.33%
Urban_population,"9,797,273","1,747,593"
coordinates,"('33.93911 ', '67.709953')","('41.153332 ', '20.168331')"

##### 2. Homogeneizar las columnas

In [21]:
nuevas_columnas={columna:columna.replace(" ", "").lower().replace("\n","").replace(":", "").replace("(%)","").replace("(km)","").replace("(km2)","").replace("(Km2)","").replace("(p/km2)","") for columna in df_merge}

In [22]:
nuevas_columnas

{'Country': 'country',
 'Density\n(P/Km2)': 'density',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agriculturalland',
 'Land Area(Km2)': 'landarea',
 'Armed Forces size': 'armedforcessize',
 'Birth Rate': 'birthrate',
 'Calling Code': 'callingcode',
 'Capital/Major City': 'capital/majorcity',
 'Co2-Emissions': 'co2-emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpichange',
 'Currency-Code': 'currency-code',
 'Fertility Rate': 'fertilityrate',
 'Forested Area (%)': 'forestedarea',
 'Gasoline Price': 'gasolineprice',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'grossprimaryeducationenrollment',
 'Gross tertiary education enrollment (%)': 'grosstertiaryeducationenrollment',
 'Infant mortality': 'infantmortality',
 'Largest city': 'largestcity',
 'Life expectancy': 'lifeexpectancy',
 'Maternal mortality ratio': 'maternalmortalityratio',
 'Minimum wage': 'minimumwage',
 'Official language': 'officiallanguage',
 'Out of pocket health expenditure': 'outofpockethealthexpenditure',
 'Physicians per thousand': 'physiciansperthousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'populationlaborforceparticipation',
 'Tax revenue (%)': 'taxrevenue',
 'Total tax rate': 'totaltaxrate',
 'Unemployment rate': 'unemploymentrate',
 'Urban_population': 'urban_population',
 'coordinates': 'coordinates'}

In [23]:
df_merge.rename(columns= nuevas_columnas, inplace= True) #Aquí estamos cambiando las columnas antiguas por las homogenizadas que hemos cambiado en el paso anterior

In [24]:
df_merge.head(2).T

,0,1
country,Afghanistan,Albania
density,60,105
abbreviation,AF,AL
agriculturalland,58.10%,43.10%
landarea,"652,230","28,748"
armedforcessize,"323,000","9,000"
birthrate,32.49,11.78
callingcode,93.0,355.0
capital/majorcity,Kabul,Tirana
co2-emissions,"8,672","4,536"
cpi,149.9,119.05
cpichange,2.30%,1.40%
currency-code,AFN,ALL
fertilityrate,4.47,1.62
forestedarea,2.10%,28.10%
gasolineprice,$0.70,$1.36
gdp,"$19,101,353,833","$15,278,077,447"
grossprimaryeducationenrollment,104.00%,107.00%
grosstertiaryeducationenrollment,9.70%,55.00%
infantmortality,47.9,7.8
largestcity,Kabul,Tirana
lifeexpectancy,64.5,78.5
maternalmortalityratio,638.0,15.0
minimumwage,$0.43,$1.12
officiallanguage,Pashto,Albanian
outofpockethealthexpenditure,78.40%,56.90%
physiciansperthousand,0.28,1.2
population,"38,041,754","2,854,191"
populationlaborforceparticipation,48.90%,55.70%
taxrevenue,9.30%,18.60%
totaltaxrate,71.40%,36.60%
unemploymentrate,11.12%,12.33%
urban_population,"9,797,273","1,747,593"
coordinates,"('33.93911 ', '67.709953')","('41.153332 ', '20.168331')"

##### 3. Las columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates

In [25]:
# Primero: Dividimos la columna en 2 (separadas por la coma)
df_merge["coordinates"].str.split(",", expand= True)

                  0               1
0      ('33.93911 '    '67.709953')
1     ('41.153332 '    '20.168331')
2     ('28.033886 '     '1.659626')
3     ('42.506285 '     '1.521801')
4    ('-11.202692 '    '17.873887')
..              ...             ...
190     ('6.42375 '    '-66.58973')
191   ('14.058324 '   '108.277199')
192   ('15.552727 '    '48.516388')
193  ('-13.133897 '    '27.849332')
194  ('-19.015438 '    '29.154857')

[195 rows x 2 columns]

In [26]:
#Segundo: Creamos las 2 columnas en nuestro DataFrame
df_merge[["longitud","latitud"]]= df_merge["coordinates"].str.split(",", expand= True)

In [28]:
df_merge.head(2).T

,0,1
country,Afghanistan,Albania
density,60,105
abbreviation,AF,AL
agriculturalland,58.10%,43.10%
landarea,"652,230","28,748"
armedforcessize,"323,000","9,000"
birthrate,32.49,11.78
callingcode,93.0,355.0
capital/majorcity,Kabul,Tirana
co2-emissions,"8,672","4,536"
cpi,149.9,119.05
cpichange,2.30%,1.40%
currency-code,AFN,ALL
fertilityrate,4.47,1.62
forestedarea,2.10%,28.10%
gasolineprice,$0.70,$1.36
gdp,"$19,101,353,833","$15,278,077,447"
grossprimaryeducationenrollment,104.00%,107.00%
grosstertiaryeducationenrollment,9.70%,55.00%
infantmortality,47.9,7.8
largestcity,Kabul,Tirana
lifeexpectancy,64.5,78.5
maternalmortalityratio,638.0,15.0
minimumwage,$0.43,$1.12
officiallanguage,Pashto,Albanian
outofpockethealthexpenditure,78.40%,56.90%
physiciansperthousand,0.28,1.2
population,"38,041,754","2,854,191"
populationlaborforceparticipation,48.90%,55.70%
taxrevenue,9.30%,18.60%
totaltaxrate,71.40%,36.60%
unemploymentrate,11.12%,12.33%
urban_population,"9,797,273","1,747,593"
coordinates,"('33.93911 ', '67.709953')","('41.153332 ', '20.168331')"
longitud,('33.93911 ',('41.153332 '
latitud,'67.709953'),'20.168331')

In [29]:
#Tercero: Eliminamos la columna de coordinates
df_merge.drop("coordinates", axis=1, inplace= True)

In [30]:
df_merge.head(2).T

                                                  0                 1
country                                 Afghanistan           Albania
density                                          60               105
abbreviation                                     AF                AL
agriculturalland                             58.10%            43.10%
landarea                                    652,230            28,748
armedforcessize                             323,000             9,000
birthrate                                     32.49             11.78
callingcode                                    93.0             355.0
capital/majorcity                             Kabul            Tirana
co2-emissions                                 8,672             4,536
cpi                                           149.9            119.05
cpichange                                     2.30%             1.40%
currency-code                                   AFN               ALL
fertilityrate                                  4.47              1.62
forestedarea                                  2.10%            28.10%
gasolineprice                                $0.70             $1.36
gdp                                $19,101,353,833   $15,278,077,447
grossprimaryeducationenrollment             104.00%           107.00%
grosstertiaryeducationenrollment              9.70%            55.00%
infantmortality                                47.9               7.8
largestcity                                   Kabul            Tirana
lifeexpectancy                                 64.5              78.5
maternalmortalityratio                        638.0              15.0
minimumwage                                  $0.43             $1.12
officiallanguage                             Pashto          Albanian
outofpockethealthexpenditure                 78.40%            56.90%
physiciansperthousand                          0.28               1.2
population                               38,041,754         2,854,191
populationlaborforceparticipation            48.90%            55.70%
taxrevenue                                    9.30%            18.60%
totaltaxrate                                 71.40%            36.60%
unemploymentrate                             11.12%            12.33%
urban_population                          9,797,273         1,747,593
longitud                               ('33.93911 '     ('41.153332 '
latitud                                '67.709953')      '20.168331')

##### 4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas

In [38]:
# Paso 1. Creo una lista con las columnas que quiero modificar para luego hacer un "for" para cambiar los datos de esas columnas solamente
porcent = ["unemploymentrate", "totaltaxrate", "taxrevenue", "populationlaborforceparticipation", "outofpockethealthexpenditure", "grosstertiaryeducationenrollment", "grossprimaryeducationenrollment", "forestedarea", "cpichange", "agriculturalland"]

# Paso 2. Hago el for loop
for col in porcent:
    df_merge[col] = df_merge[col].str.replace("%", "")

# Paso 3. Verifico que los % han desaparecido
df_merge.head(2).T

                                                  0                 1
country                                 Afghanistan           Albania
density                                          60               105
abbreviation                                     AF                AL
agriculturalland                              58.10             43.10
landarea                                    652,230            28,748
armedforcessize                             323,000             9,000
birthrate                                     32.49             11.78
callingcode                                    93.0             355.0
capital/majorcity                             Kabul            Tirana
co2-emissions                                 8,672             4,536
cpi                                           149.9            119.05
cpichange                                      2.30              1.40
currency-code                                   AFN               ALL
fertilityrate                                  4.47              1.62
forestedarea                                   2.10             28.10
gasolineprice                                $0.70             $1.36
gdp                                $19,101,353,833   $15,278,077,447
grossprimaryeducationenrollment              104.00            107.00
grosstertiaryeducationenrollment               9.70             55.00
infantmortality                                47.9               7.8
largestcity                                   Kabul            Tirana
lifeexpectancy                                 64.5              78.5
maternalmortalityratio                        638.0              15.0
minimumwage                                  $0.43             $1.12
officiallanguage                             Pashto          Albanian
outofpockethealthexpenditure                  78.40             56.90
physiciansperthousand                          0.28               1.2
population                               38,041,754         2,854,191
populationlaborforceparticipation             48.90             55.70
taxrevenue                                     9.30             18.60
totaltaxrate                                  71.40             36.60
unemploymentrate                              11.12             12.33
urban_population                          9,797,273         1,747,593
longitud                               ('33.93911 '     ('41.153332 '
latitud                                '67.709953')      '20.168331')

##### 5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$"

In [41]:
# Paso 1. Creo una lista con las columnas que quiero modificar para luego hacer un "for" para cambiar los datos de esas columnas solamente
dolar = ["gasolineprice", "gdp", "minimumwage"]

# Paso 2. Hago el for loop
for col in dolar:
    df_merge[col] = df_merge[col].str.replace("$", "")

# Paso 3. Verifico que los $ han desaparecido
df_merge.head(2).T

/tmp/ipykernel_10770/4180367978.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_merge[col] = df_merge[col].str.replace("$", "")

                                                 0                1
country                                Afghanistan          Albania
density                                         60              105
abbreviation                                    AF               AL
agriculturalland                             58.10            43.10
landarea                                   652,230           28,748
armedforcessize                            323,000            9,000
birthrate                                    32.49            11.78
callingcode                                   93.0            355.0
capital/majorcity                            Kabul           Tirana
co2-emissions                                8,672            4,536
cpi                                          149.9           119.05
cpichange                                     2.30             1.40
currency-code                                  AFN              ALL
fertilityrate                                 4.47             1.62
forestedarea                                  2.10            28.10
gasolineprice                                0.70             1.36
gdp                                19,101,353,833   15,278,077,447
grossprimaryeducationenrollment             104.00           107.00
grosstertiaryeducationenrollment              9.70            55.00
infantmortality                               47.9              7.8
largestcity                                  Kabul           Tirana
lifeexpectancy                                64.5             78.5
maternalmortalityratio                       638.0             15.0
minimumwage                                  0.43             1.12
officiallanguage                            Pashto         Albanian
outofpockethealthexpenditure                 78.40            56.90
physiciansperthousand                         0.28              1.2
population                              38,041,754        2,854,191
populationlaborforceparticipation            48.90            55.70
taxrevenue                                    9.30            18.60
totaltaxrate                                 71.40            36.60
unemploymentrate                             11.12            12.33
urban_population                         9,797,273        1,747,593
longitud                              ('33.93911 '    ('41.153332 '
latitud                               '67.709953')     '20.168331')

##### 6. Guarda el DataFrame para usarlo en el pairprogramming de mañana

In [45]:
df_merge.to_csv("fichero_limpio.csv")

### Ejercicios de Filtrado
- Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.
- Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.
- Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.
- Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.
- Encuentra los países cuyatasa de fertilidad sea mayor a 6.
- Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.
- Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70

##### Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado

##### Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años

##### Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre

##### Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5

In [49]:
df_merge.loc[(df_merge["physiciansperthousand"] > 5), "country"]

9         Austria
15        Belarus
42           Cuba
63        Georgia
66         Greece
99      Lithuania
113        Monaco
140      Portugal
149    San Marino
187       Uruguay
Name: country, dtype: object

##### Encuentra los países cuyatasa de fertilidad sea mayor a 6

In [50]:
df_merge.loc[(df_merge["fertilityrate"] > 6), "country"]

125      Niger
160    Somalia
Name: country, dtype: object

##### Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio

In [55]:
df_merge.loc[(df_merge["currency-code"] == "EUR"), "country"]

3                  Andorra
9                  Austria
16                 Belgium
43                  Cyprus
55                 Estonia
59                 Finland
60                  France
64                 Germany
66                  Greece
73            Vatican City
81     Republic of Ireland
83                   Italy
93                  Latvia
99               Lithuania
100             Luxembourg
106                  Malta
113                 Monaco
115             Montenegro
140               Portugal
149             San Marino
157               Slovakia
158               Slovenia
164                  Spain
Name: country, dtype: object

##### Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70

In [56]:
df_merge.loc[(df_merge["infantmortality"] > 70), "country"]

33     Central African Republic
34                         Chad
126                     Nigeria
155                Sierra Leone
160                     Somalia
Name: country, dtype: object